.loader {
    position: fixed;
    top: 0;
    left: 0;
    display: block;

    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 1;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
    }

    &.loader--disabled {
        display: none;
    }

    &.loader--hiding {
        animation: loaderFadeOut 0.5s linear forwards;
    }
}

.loader__processing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 78px;
    height: 78px;
    background-image: url(./images/loader-processing.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 1;

    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 78px;
        height: 78px;
        background-image: url(./images/loader-spinner.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        animation: loaderSpinning 1.5s linear infinite;
    }
}

@keyframes loaderSpinning {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes loaderFadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}