<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blank Page</title>
    
</head>
<body>
    <div class="loader">
        <div class="loader__processing"></div>
    </div>

    <div class="swiper fullpage-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-color: chocolate;">
                <div class="slide-container">

                    <header>
                        <h1>Template LP</h1>
                    </header>
                    
                    <br>
                    <a class="button-cta" href="#">
                        PLAY FOR FREE
                    </a>

                </div>
            </div>
            <div class="swiper-slide" style="background-color: cadetblue;">
                <div class="slide-container">
                    Slide 2
                </div>
            </div>
            <div class="swiper-slide" style="background-color: burlywood;">
                <div class="footer">
                    Slide 3 (footer)
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</body>
</html>